<nav th:fragment="nav" class="navbar navbar-expand-lg navbar-dark bg-dark"  xmlns:th='http://www.thymeleaf.org'>
    <a class="navbar-brand" href="#">Retrovideo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/">Genres</a>
            <a class="nav-item nav-link" href="/klanten">Klanten</a>
            <a class="nav-item nav-link" href="/mandje">Mandje</a>
        </div>
    </div>
</nav>