
<html lang="nl" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>mandje</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <nav th:replace="fragments::nav"></nav>
    <form th:action="@{/mandje/verwijder}" method="post">

        <div th:each="film:${filmsinmandje}">
        <li   th:text="|${film.titel}, ${film.prijs}|"class="list-group-item d-flex justify-content-between align-items-center">
        </li>
         <input type="checkbox" th:name="${film.id}" th:value="${film.id}">
        </div>
        <button type="submit" class="btn btn-danger">Verwijderen</button>
    </form>
</div>

</body>
</html>