<html lang="nl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Retrovideo</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<nav th:replace="fragments::nav"></nav>
<div class="row">
    <div class="col-lg-12">
        <h1>Reservatie bevestigen</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <p><span th:text="${aantalfilms}"></span> film(s) voor <span th:text="|${klant.getVoorNaam()} ${klant.getFamilieNaam()}|"></span></p>
    </div>
</div>
<div class="row">
    <form th:action="@{/reserveren}" method="post">
        <input type="hidden" name="klantId" th:value="${klant.getId()}">
        <button type="submit" class="btn btn-primary">Bevestigen</button>
    </form>
</div>
</body>
</html>